.itemsWrapper {
  width: 100%;

  .items {
    display: flex;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    .item {
      position: relative;
      flex: none;
      width: 25%;
      height: 100vh;
      scroll-snap-align: start;
      transition: 1s;
      flex: 1;
      //pointer-events: none;

      .itemInfo {
        position: absolute;
        bottom: 0;
        left: 60px;
        right: 60px;

        &, a {
          color: #f2f2f2;
        }

        .logo {
          text-align: center;

          img {
            max-width: 70%;
            margin: auto;
          }
        }

        .meta {
          > div {
            display: flex;
            margin-bottom: 15px;

            &:first-child {
              padding-bottom: 15px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }

            &:nth-child(2) {
              justify-content: space-between;

              > div:last-child {
                text-align: right;

                p {
                  margin-bottom: 5px;
                  letter-spacing: 1px;
                  font-size: 12px;
                }
              }
            }
          }

          button {
            border: 0;
            background: none;
            color: #fff;
            padding: 0 15px;
            height: 45px;
            width: 100%;
            text-transform: uppercase;
            font-size: 14px;
            cursor: pointer;
            position: relative;

            svg {
              height: 45px;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }

            rect {
              fill: none;
              stroke: #fff;
              stroke-width: 2;
              stroke-dasharray: 500, 0;
              transition: all 0.35s linear;
            }

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);

              rect {
                stroke-width: 4;
                stroke-dasharray: 15, 310;
                stroke-dashoffset: 48;
                transition: all 1.35s cubic-bezier(0.2, 1, 0.22, 1);
              }
            }
          }

        }

        h3 {
          text-transform: uppercase;
          font-weight: normal;
          font-size: 16px;
          letter-spacing: 1px;
        }

        .like {
          text-align: right;
          cursor: pointer;

          img {
            filter: invert(1);
          }
        }

        .indicatedFor {
          display: flex;

          img {
            max-width: 50px;
            margin-right: 10px;
          }

          p {
            font-size: 12px;
            letter-spacing: 0.5px;
          }
        }

        .col1,
        .col2,
        .col3 {
          padding-left: 10px;
          padding-right: 10px;
        }

        .col1 {
          width: 25%;
        }

        .col2 {
          width: 25%;
        }

        .col3 {
          width: 50%;
        }
      }

      &.itemActive {
        flex: 100%;
        transition: 1s;
      }


      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
